body {
    background-color: black;
}

#construction {
    width: 100%;
    text-align: center;
    padding: 15% 0% 10% 0%;
}

#spin::before {
    content: "-";
    animation-name: spinAni;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spinAni {
    0% {content: "-";}
    25% {content: "\\";}
    50% {content: "|";}
    75% {content: "/";}
    100% {content: "-";}
}

.word {
    font-family: monospace,monospace;
    color:white;
}

#link {
    text-align: center;
    font-size: small;
}

#link > a {
    text-decoration-color: rgb(0, 0, 255);
}