body {
    background-color: black;
}

.word {
    width:fit-content;
    font-family: monospace,monospace;
    text-align: start;
    color:white;
}

.letter {
    color:white;
    opacity: 0;
    animation-name: letterIn;
    animation-duration: 3s;
    /* animation-direction: reverse; */
    animation-fill-mode: forwards;
}

@keyframes letterIn {
    from {opacity: 0;}
    to {opacity: 1;}
}